---
import type { Phile } from "../../modules/philes/model";
import {
  renderPhileBodyBlocks,
  renderPhileFooterPre,
  renderPhileHeader
} from "../../modules/philes/render";
import { renderRedactedBody } from "../../modules/philes/redacted";

type Props = {
  phile: Phile;
};

const phile = Astro.props.phile;
const header = renderPhileHeader(phile);
const isRedacted = phile.data.redacted || (phile.body ?? "").trim().length === 0;
const bodyBlocks = isRedacted ? [] : renderPhileBodyBlocks(phile);
const hasImages = bodyBlocks.some((block) => block.kind === "image");
const redactedHtml = isRedacted ? renderRedactedBody(phile) : undefined;
const footerHtml = renderPhileFooterPre(phile);
---

<article class="textmode-wrap phile-wrap">
  <header
    class="phile-header"
    style={`--phile-header-lines: ${header.lineCount}; --phile-meta-lines: ${header.metaLineCount}; --phile-title-lines: ${header.titleLineCount}`}
  >
    <pre
      class="textmode-pre phile-pre phile-header-side life-art"
      data-life-root
      set:html={header.sideHtml}
    ></pre>
    <pre class="textmode-pre phile-pre phile-header-meta" set:html={header.metaHtml}></pre>
  </header>
  {
    redactedHtml ? (
      <pre class="textmode-pre phile-pre phile-body-pre phile-redacted-pre" set:html={redactedHtml}></pre>
    ) : bodyBlocks.map((block) =>
      block.kind === "image" ? (
        <div class="phile-media" set:html={block.html}></div>
      ) : (
        <pre class="textmode-pre phile-pre phile-body-pre" set:html={block.html}></pre>
      )
    )
  }
  <pre class="textmode-pre phile-pre phile-footer-pre" set:html={footerHtml}></pre>
</article>

<script>
  import { initLifeArt } from "../../modules/textmode/life/runtime";

  initLifeArt();
</script>

{
  hasImages && (
    <script>
      import { installImageLightbox } from "../../modules/textmode/lightbox/images";

      installImageLightbox();
    </script>
  )
}
